@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    
}

/* Top Div CSS */

.row{
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
}
.banner{
    background-color: #e8fdf2;
    padding: 8px 0px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
}
.col-1{
    text-align: center;
    flex-basis: 95%;
}

.col-2{
    flex-basis: 5%;
}

.col-2 img {
    width: 30px;
    cursor: pointer;
}

.col-1 a{
    color: #282827;
    font-weight: 700;
}

/* Header CSS */

.logo__first {
    width: 100px;
    height: 100px;
    margin-left: 0;
    padding: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 300;
   
 
  }
  
  .dropdown-content a:hover {
      border-left: 2px solid #FF6153;
      background-color: #EEF0F1;
      text-decoration: underline;
    }

 .show {display:block;}
  
  
  

.wrapper{
    display: flex;
    max-width: 1150px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}


.col-3 h1{
    color: #ff6253;
}

.col-3{
    justify-content: flex-start;
}

.col-4{
    justify-content: flex-end;
    align-items: center;
}

.col-4 a{
    text-decoration: none;
    color: #282827;
}

.col-4 .fa-chevron-circle-down{
    padding: 0px 20px;
    cursor: pointer;
}

/*Banner CSS */
.info{
    position: absolute;
    top: 25%;
}
.container {
    width: 1150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px;
    background-color: #282827;
    border-radius: 10px;
    height: 500px;

}
.banner__img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit:contain;
}

.info h1{
    padding: 0px 10px;
    font-size: 48px;
    color: #f5f5f1;
    margin-left: 40px;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px #000000;
    
}
input[type=text]{
    padding: 10px 15px;
    width: 300px;
    border-radius: 10px;
    border: none;
}
input[type=text]:visited,input[type=text]:focus{
    outline: none;
}
.btn{
    background-color:  #ff6253;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}
.btn:visited,.btn:focus{
    outline: none;
}

.info li{
    display: inline;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    
    
}

.info a{
    text-decoration: none;
    color: #282827;
    font-size: 12px;
    font-weight: 400;
}

.search {
    margin-left: 40px;
}


.section-div{
    max-width: 1150px;
    margin: 0 auto;
}
.section-header{
    color: #282827;
    margin-top: 125px;
  
}

.row-1{
    display: flex;
    justify-content:space-evenly;
}

.col-5{
    transition: box-shadow .3s;
    flex-basis: 30%;
    padding: 20px;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 300px;
    
    }

.col-5:hover{
    box-shadow: 0px 0px 11px rgba(33,33,33,.2); 
    border-radius: 10px;
    
}

.card__img{
    width: 100%;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
}


.card-button{
    position: absolute;
    bottom: -10%;
    padding: 10px 15px;
}

.card-button a{
    text-decoration: none;
    color: #282827;
    background-color: #F5F5F2;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 300;

}

.card-button a:hover{
    color:black;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
     border: 1px solid #EEF0F1;

}

.card-title p{
    font-size: 16px;
    font-weight: 700;
    color: #282827;
    padding: 0px 20px;
}



.card-title a{
padding-right: 10px;
text-decoration: none;
/* font-size: ; */
color: #282827;
}

.fa-star{
    font-family: 'Roboto',sans-serif;
    color:  #ff6253;
    padding-right: 10px;
}

.table{
    width: 100%;
    border: 1px solid #EEF0F1;
    border-collapse: collapse;
    
}
td{
    border: 1px solid #EEF0F1;
    border-collapse: collapse;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.content-1,.content-2{
    padding: 5px 5px;
}
.content-2{
    line-height: .75;
}
.content-2 h1{
    font-size: 14px;
}

.content-2 a{
    font-size: 12px;
    text-decoration: none;
    color: #282827;
}

.content-2 p{
    font-size: 12px;
}

.content-2 span{
    font-weight: 600;
}
.content-1 .fa-house-user{
    color: #FF6153;
}

.fa-bug,.fa-windows,.fa-allergies,.fa-broom,
.fa-dungeon,.fa-blender-phone{
    color: #FF6153;
}


td:hover{
    background: #EEF0F1;
}
.disclaim{
    margin-top: 20px;
    /* margin-bottom: 50px; */
}

.disclaim p{
    font-size: 12px;
}

.jumbo-container{
    height: 1150px;
    width: 100%;
    background-color: #F5F5F2;
    
}

.jumbo-div{
    width: 1150px;
    padding-top: 20px;
    margin-top: 50px;
    margin: 0 auto;
    
}

.row-2{
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;

}
.col-6{
    flex-basis: 33%;
    /* margin: 10px; */
    flex-wrap: wrap;
}
.cta-content{
    text-align: left;
    line-height: 1.5;
    padding: 20px;
}

.cta-content h2{
    font-size: 18px;
   
}

.cta-contant a{
    padding: 20px 10px;
}

.cta-content p{
    font-weight: 300;
    letter-spacing: 1px;
}
.cta-content .fa-house-user {
    padding: 5px;
}
.cta-btn{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 400;

}

.cta-btn:hover{
    color: #FF6153;
    border-color: #FF6153;
}

.divider{
    border-top: 1px solid #DBD9D4;
    margin-top: 50px;
}

.row-3{
    display: flex;
    max-width: 1150px;
    justify-content:space-around;
    margin: 0 auto;
    align-items: center;

}

.col-7{
    flex-basis: 33%;
    position: relative;
}

.col-7 img{
    max-width: 100%;
    height: 500px;
    object-fit: contain;
    
}

.col-7 p{
    position: absolute;
    bottom: 1%;
    left: 5%;
   color:rgb(0, 51,89);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #DBD9D4;
}

.col-7__img{
    border-radius: 10px;
}

.browse{
    text-align: center;
}

.browse a{
    color: #282827;
    text-decoration: none;
}

.browse a:hover{
    color:#FF6153;
}

.row-7{
    
    grid-column-gap: 10px;
    display: grid;
    grid-template-columns: 500px 500px;
    max-width: 1150px;
    justify-content:space-evenly;
    margin: 0 auto;
    align-items: center;
   }

.jumbo-div-new{
    margin-top: 75px;
    margin-bottom: 75px;
}
.img__phone{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
      
}

.col-10-right .apple{
    height: 50px;
}

.col-10-right .google{
     height: 50px;
}

.col-10-right h1{
    font-size: 40px;
    margin-top: 0;
}

.col-10-right p{
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 0px;
}

.logo {
    display: grid;
    grid-template-columns: 175px 175px;
}

.row-8{
    grid-column-gap: 10px;
    display: grid;
    grid-template-columns: 500px 500px;
    max-width: 1150px;
    justify-content:space-evenly;
    align-items: center;
  
}

.col-11 h1{
    font-size: 40px;
    color: white;
    flex-wrap: wrap;
}


.blue{
    background-color: #033359;
    width: 100%;
    height: 375px;
}

.cta-btn-1{
    text-decoration: none;
   color: #033359; 
    padding: 10px 15px;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    font-weight: 400;
}
.cta-btn-1:hover{
    background-color: lightblue;
}

ul{
    list-style-type: none;
}

.row-20 li{
    display: inline;
    

}

.row-20 a{
    text-decoration: none;
    color:#282827;
    font-weight: 300;
    padding: 0px 10px;
}

.row-20 a:hover{
    text-decoration: underline;
}

.row-21{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
        
}

.col-20 {
     text-align: left;
}

.col-20 a{
    text-decoration: none;
    color: #282827;
    font-weight: 300;
}
.col-20 a:hover{
    text-decoration: underline;
}
.sign_up{
    background-color: #FF6153;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.col-20 .sign_up a{
    color: white;
    font-weight: 400;
}

.sign-up-btns{
    margin: 20px;
    padding: 10px 5px;
}

.logos{
    display: inline-block;
    align-items: center;
}

.footer_img{
    width: 120px;
    
}

@media all and (max-width: 500px){
    /* body{
        background-color: brown;
    } */

    .row{
        display: none;
    }
    .banner{
        display: none;
    }

    .logo__first {
        width: 75px;
        height: 75px;
    }

 
    .banner__img{
        background-color: #DBD9D4;
        display: none;
    }

    .info{
        margin-top: 0;
    }

    .info h1{
        padding: 0px 10px;
        font-size: 48px;
        color: #f5f5f1;
        margin-left: 0px;
        margin-bottom: 0px;
        
        
    }

    .container {
        width: 100%;
        height: 400px;
        margin-bottom: 0px;
        background-color: #DBD9D4;
    
    }
}


.toast {
    position: fixed;
     top: 0;
     left: 0;
     right: 0;
     margin: auto;
   
     max-width: 400px;
     padding: 6px;
     background: #FC5647;
     color: #fff;
     font-family: sans-serif;
     text-align: center;
     border: 1px solid #FF6153;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
     visibility: hidden;
     opacity: 0;
     transition: opacity 0.2s, top 0.2s, visibility 0.2s;
   
   }
   
   .toast--visible {
       top: 20px;
       opacity: 1;
       visibility: visible;
     }
   